$primary-color: rgb(14, 234, 238);

@mixin flex-spaced {
  display: flex;
  justify-content: space-between;
}

@mixin content-box($area, $color) {
  grid-area: $area;
  background-color: $color;
}

@mixin button-page {
  background-color: $primary-color;
  height: 2rem;
  width: 5rem;
  border: none;
  border-radius: 5px;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin responsive-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@mixin footer-link {
  color: #333;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
